/*------------------------------------*\
    $PRIMARY NAVIGATION
\*------------------------------------*/

.c-primary-nav__tier2 {
  max-height: 0;
  overflow: hidden;

  @include breakpoint(sm) {
  	position: absolute;
  }

  &-link {
  	position: relative;

  	&:after {
  		content: '';
  		position: absolute;
  		top: 50%;
  		transform: translate(-275%, -50%);
  		left: 0;
  		background: url('../../images/svg/icon-arrow.svg') center center no-repeat;
  		width: 6px;
  		height: 10px;
  	}
  }

  .-nav-is-active > & {
  	position: relative;
  	background: $brand-colour-2;
  	margin: 0 -30px;
  	padding: 10px 45px;
  	max-height: 2000px;
  }

  > .-nav-is-active {
  	margin: 0 -15px;
  }

  .-is-hovered > & {
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	border-bottom: 10px solid red;
  }

}