/*------------------------------------*\
    $PRIMARY NAVIGATION
\*------------------------------------*/

.c-primary-nav {
	padding: 15px;

	@include breakpoint(sm) {
		padding: 0;
		display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
	}

	ul, li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li a {
		display: block;
		padding: 10px 0;

		&:focus {
			outline: 0;
		}

		@include breakpoint(sm) {
			color: $brand-colour-1;
			display: inline-block;
			padding: 5px 10px;
		}

		&.-nav-is-active {
			@include font-size(1.2);
  		font-weight: bold;
		}
	}

	.-link-is-active {
		font-weight: bold;
	}

	@include breakpoint(sm) {
		grid-column: span 2; 
	}
}

.c-primary-nav__tier1 {

	@include breakpoint(sm) {
		display: inline-flex;
		flex-flow: row wrap;
		flex-grow: 0;
		justify-content: flex-end;
	}

	&-item {

		position: relative;

		@include breakpoint(sm) {
			position: unset;
			float: none;
			justify-content: flex-end;
			text-align: center;
			flex-grow: 0;
		}
  	
  	
	}

	&-link {
		position: relative;

		@include breakpoint(sm) {
			display: inline-block;
			text-align: center;
			padding: 0 15px;
			flex-grow: 0;
			@include font-size(1.4);
		}

		&:after {
  		content: '';
  		position: absolute;
  		top: 50%;
  		transform: translate(-275%, -50%);
  		left: 0;
  		background: url('../../images/svg/icon-arrow.svg') center center no-repeat;
  		width: 6px;
  		height: 10px;
  	}
	}
}

.c-primary-nav__tier2 {
  max-height: 0;
  overflow: hidden;

  @include breakpoint(sm) {
  	position: absolute;
  }

  &-link {
  	position: relative;

  	&:after {
  		content: '';
  		position: absolute;
  		top: 50%;
  		transform: translate(-275%, -50%);
  		left: 0;
  		background: url('../../images/svg/icon-arrow.svg') center center no-repeat;
  		width: 6px;
  		height: 10px;

  		@include breakpoint(sm) {
	  		display: none;
	  	}
  	}
  }

  .-nav-is-active > & {
  	position: relative;
  	background: $brand-colour-2;
  	margin: 0 -30px;
  	padding: 0 45px 15px;
  	max-height: 2000px;
  }

  > .-nav-is-active {
  	margin: 0 -15px;
  }

  .-is-hovered > & {
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	border-bottom: 10px solid red;
  }

}

.c-primary-nav__tier3 {
  max-height: 0;
  overflow: hidden;

  .-nav-is-active > & {
  	position: relative;
  	background: $brand-colour-2;
  	margin: 0 -15px;
  	padding: 0 30px 15px;
  	max-height: 2000px;
  	
  	&:after {
  		content: '';
  		display: block;
  		position: absolute;
  		bottom: 10px;
  		width: calc(100% - 60px);
  		left: 50%;
  		transform: translateX(-50%);
  		height: 1px;
  		background: $brand-colour-1;
  	}
  }
}