/*------------------------------------*\
    $PRIMARY NAVIGATION
\*------------------------------------*/

.c-primary-nav__tier3 {
  max-height: 0;
  overflow: hidden;

  .-nav-is-active > & {
  	position: relative;
  	background: $brand-colour-2;
  	margin: 0 -15px;
  	padding: 0 30px 15px;
  	max-height: 2000px;
  	
  	&:after {
  		content: '';
  		display: block;
  		position: absolute;
  		bottom: 10px;
  		width: calc(100% - 60px);
  		left: 50%;
  		transform: translateX(-50%);
  		height: 1px;
  		background: $brand-colour-1;
  	}
  }
}