/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.c-primary-nav-toggle {
	width: 30px;
	height: 26px;
	cursor: pointer;

	@include breakpoint(sm) {
		display: none; 
	}

	.hamburger-action {
		position: absolute;
		text-indent: -9999px;
	}

	.hamburger-box {
		width: 30px;
    height: 24px;
    display: block;
    position: relative;
  }
}