/*------------------------------------*\
    $PRIMARY NAVIGATION
\*------------------------------------*/

.c-primary-nav__tier1 {

	@include breakpoint(sm) {
		display: inline-flex;
		flex-flow: row wrap;
		flex-grow: 0;
		justify-content: flex-end;
	}

	&-item {

		position: relative;

		@include breakpoint(sm) {
			position: unset;
			float: none;
			justify-content: flex-end;
			text-align: center;
			flex-grow: 0;
		}
  	
  	
	}

	&-link {
		position: relative;

		@include breakpoint(sm) {
			display: inline-block;
			text-align: center;
			padding: 0 15px;
			flex-grow: 0;
			@include font-size(1.4);
		}

		&:after {
  		content: '';
  		position: absolute;
  		top: 50%;
  		transform: translate(-275%, -50%);
  		left: 0;
  		background: url('../../images/svg/icon-arrow.svg') center center no-repeat;
  		width: 6px;
  		height: 10px;

      @include breakpoint(sm) {
        content: none;
      }
  	}
	}
}