/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.c-header__actions {
	width: 100%;
	position: absolute;
	top: 75px; // Header height
	left: 0;
	background: $brand-colour-1;
	max-height: 0;
	overflow: hidden;
	display: flex;
	flex-flow: column wrap;

	@include breakpoint(sm) {
		width: 405px;
		max-height: initial;
		background: none;
		position: unset;
		top: auto;
		left: auto;
		display: inline-grid;
		grid-template-rows: repeat(2, minmax(min-content, 1fr));
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

	.-primary-nav-is-active & {
		max-height: 2000px;
		padding: 0 15px 15px 15px;
	}
}

.c-header__search {
	position: relative;

	@include breakpoint(sm) {
		width: 235px;
		justify-self: flex-end;
	}

	label {
		@include visually-hidden;
	}
}

.c-header__search-field {
	border-radius: 4px;
	padding: 8px 15px;

	@include breakpoint(sm) {
		@include font-size(1.4);
		width: 100%;
		border-radius: 4px 6px 6px 4px;
	}
}

.c-header__search-submit {
	text-indent: -9999px;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	background: url('../../images/svg/icon-search.svg') center center no-repeat $brand-colour-3;
	background-size: 14px 12px; 
	border: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;

	@include breakpoint(sm) {
		width: 36px;
		height: 36px;
		top: 0;
		right: 0;
		border-radius: 0 4px 4px 0;
		transform: none;
		background-size: 15px 15px; 
	}
}

.c-header__btn { 
	order: 3;

	@include breakpoint(sm) {
		order: initial;
		justify-self: flex-start;
	}
}