/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.c-header__branding {
	
	@include breakpoint(sm) {
		display: inline-flex;
		flex-flow: row wrap;
		width: 300px;
	}
}

.c-header__logo {
	display: inline-block;
	text-indent: -9999px; 

	@include breakpoint(sm) {
		margin-right: 15px; 
	}

	&--mobile {
		
		@include breakpoint(sm) {
			display: none;  
		}
	}

	&--desktop {
		display: none;

		@include breakpoint(sm) {
			display: block;
		}
	}

	
}

.c-header__cta {
	display: none;
	padding: 7px 0;
	@include font-size(1.2);
	color: $white;
	font-weight: bold;

	.-is-active & {
		display: block;
	}

	@include breakpoint(sm) {
		display: block; 
		padding: 0;
		color: $grey-dark;
	}

	span {
		display: block;
		font-weight: normal;
		@include font-size(2.0);

		@include breakpoint(sm) {
			color: $brand-colour-1;
		}
	}
}