/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.c-header {
	background-color: $brand-colour-1;
	
	@include breakpoint(sm) {
		background-color: $white;
	}
	
	&.-primary-nav-is-active {

		.c-header__logo {
			display: none;

			@include breakpoint(sm) {
				display: block;
			}
		}

		.c-header__cta {
			display: block;
		}
	}
}

.c-header__inner {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	border: 0;
	padding: 10px 15px;

	@include breakpoint(sm) {
		//border: initial;     
		padding: 23px 0;
		
		align-content: flex-start;
		align-items: flex-start;
	}
}

.c-header__container {

	@include breakpoint(sm) {
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
	}
}