/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

// General structure of main site elements such as body, page-wrapper, header, main, footer etc.

body {
  overflow-x: hidden;
}

.page-wrapper {
  margin: 0 auto;
  background: $grey-dark;
}

.main {
  margin: 0 0 20px 0;
  position: relative;
  clear: both;
}

.container {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}