	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  <script>window.jQuery || document.write('<script src="/Static/build/js/libs/jquery-1.11.3.min.js"><\/script>')</script>
  <script src="/Static/build/js/libs.js"></script>
  <script src="/Static/build/js/scripts.js"></script>
</div>
<!-- end: page-wrapper -->