<nav class="c-primary-nav" id="js-primary-nav" role="navigation" aria-label="Primary Navigation">
  <ul class="c-primary-nav__tier1">
    <li class="c-primary-nav__tier1-item">
      <a class="c-primary-nav__tier1-link" href="/" >Item 1</a>
      <ul class="c-primary-nav__tier2">
        <li class="c-primary-nav__tier2-item">
          <a href="/" class="c-primary-nav__tier2-link">Item 1</a>
          <ul class="c-primary-nav__tier3">
            <li>
              <a href="/">Item 1</a>
            </li>
            <li>
              <a href="/">Item 2</a>
            </li>
            <li>
              <a href="/">Item 3</a>
            </li>
            <li>
              <a href="/">Item 4</a>
            </li>
            <li>
              <a href="/">Item 5</a>
            </li>
          </ul>
        </li>
        <li class="c-primary-nav__tier2-item">
          <a href="/" class="c-primary-nav__tier2-link">Item 1</a>
          <ul class="c-primary-nav__tier3">
            <li>
              <a href="/">Item 1</a>
            </li>
            <li>
              <a href="/">Item 2</a>
            </li>
            <li>
              <a href="/">Item 3</a>
            </li>
            <li>
              <a href="/">Item 4</a>
            </li>
            <li>
              <a href="/">Item 5</a>
            </li>
          </ul>
        </li>
        <li class="c-primary-nav__tier2-item">
          <a href="/" class="c-primary-nav__tier2-link">Item 1</a>
          <ul class="c-primary-nav__tier3">
            <li>
              <a href="/">Item 1</a>
            </li>
            <li>
              <a href="/">Item 2</a>
            </li>
            <li>
              <a href="/">Item 3</a>
            </li>
            <li>
              <a href="/">Item 4</a>
            </li>
            <li>
              <a href="/">Item 5</a>
            </li>
          </ul>
        </li>
        <li class="c-primary-nav__tier2-item">
          <a href="/" class="c-primary-nav__tier2-link">Item 1</a>
          <ul class="c-primary-nav__tier3">
            <li>
              <a href="/">Item 1</a>
            </li>
            <li>
              <a href="/">Item 2</a>
            </li>
            <li>
              <a href="/">Item 3</a>
            </li>
            <li>
              <a href="/">Item 4</a>
            </li>
            <li>
              <a href="/">Item 5</a>
            </li>
          </ul>
        </li>
        <li class="c-primary-nav__tier2-item">
          <a href="/" class="c-primary-nav__tier2-link">Item 1</a>
          <ul class="c-primary-nav__tier3">
            <li>
              <a href="/">Item 1</a>
            </li>
            <li>
              <a href="/">Item 2</a>
            </li>
            <li>
              <a href="/">Item 3</a>
            </li>
            <li>
              <a href="/">Item 4</a>
            </li>
            <li>
              <a href="/">Item 5</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="c-primary-nav__tier1-item">
      <a class="c-primary-nav__tier1-link" href="/" >Item 1</a>
      <ul class="c-primary-nav__tier2">
        <li class="c-primary-nav__tier2-item">
          <a href="/" class="c-primary-nav__tier2-link">List Item 1</a>
          <ul class="c-primary-nav__tier3">
            <li>
              <a href="/">List Item 1</a>
            </li>
            <li>
              <a href="/">List Item 2</a>
            </li>
            <li>
              <a href="/">List Item 3</a>
            </li>
            <li>
              <a href="/">List Item 4</a>
            </li>
            <li>
              <a href="/">List Item 5</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="c-primary-nav__tier1-item">
      <a class="c-primary-nav__tier1-link" href="/" >Item 1</a>
      <ul class="c-primary-nav__tier2">
        <li class="c-primary-nav__tier2-item">
          <a href="/" class="c-primary-nav__tier2-link">List Item 1</a>
          <ul class="c-primary-nav__tier3">
            <li>
              <a href="/">List Item 1</a>
            </li>
            <li>
              <a href="/">List Item 2</a>
            </li>
            <li>
              <a href="/">List Item 3</a>
            </li>
            <li>
              <a href="/">List Item 4</a>
            </li>
            <li>
              <a href="/">List Item 5</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="c-primary-nav__tier1-item">
      <a class="c-primary-nav__tier1-link" href="/" >Item 1</a>
      <ul class="c-primary-nav__tier2">
        <li class="c-primary-nav__tier2-item">
          <a href="/" class="c-primary-nav__tier2-link">List Item 1</a>
          <ul class="c-primary-nav__tier3">
            <li>
              <a href="/">List Item 1</a>
            </li>
            <li>
              <a href="/">List Item 2</a>
            </li>
            <li>
              <a href="/">List Item 3</a>
            </li>
            <li>
              <a href="/">List Item 4</a>
            </li>
            <li>
              <a href="/">List Item 5</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="c-primary-nav__tier1-item">
      <a class="c-primary-nav__tier1-link" href="/" >Item 1</a>
      <ul class="c-primary-nav__tier2">
        <li class="c-primary-nav__tier2-item">
          <a href="/" class="c-primary-nav__tier2-link">List Item 1</a>
          <ul class="c-primary-nav__tier3">
            <li>
              <a href="/">List Item 1</a>
            </li>
            <li>
              <a href="/">List Item 2</a>
            </li>
            <li>
              <a href="/">List Item 3</a>
            </li>
            <li>
              <a href="/">List Item 4</a>
            </li>
            <li>
              <a href="/">List Item 5</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="c-primary-nav__tier1-item">
      <a class="c-primary-nav__tier1-link" href="/" >Item 1</a>
      <ul class="c-primary-nav__tier2">
        <li class="c-primary-nav__tier2-item">
          <a href="/" class="c-primary-nav__tier2-link">List Item 1</a>
          <ul class="c-primary-nav__tier3">
            <li>
              <a href="/">List Item 1</a>
            </li>
            <li>
              <a href="/">List Item 2</a>
            </li>
            <li>
              <a href="/">List Item 3</a>
            </li>
            <li>
              <a href="/">List Item 4</a>
            </li>
            <li>
              <a href="/">List Item 5</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>