@@include('./../includes/global/header.html')
<div class="container">
	<h1>ED Test</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ratione quis a laborum voluptatibus illum non similique dicta, consectetur, quam necessitatibus totam minima reprehenderit! Vitae vero porro rem asperiores vel!</p>
</div>


@@include('./../includes/global/footer.html')