/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.c-btn {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  margin: 0;
  padding: 7px 40px;
  border-radius: $border-radius;
  background-color: $white;
  color: $color-text;
  @include font-size(1.6);
  text-align: center;

  @include breakpoint(sm) {
    width: auto;
  }
}

.c-btn {
  
  &,
  &:hover,
  &:focus {
    text-decoration: none;
    transition: background-color .25s;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.c-btn--primary {
  background-color: $orange;
  color: $white !important;
  font-weight: 600;

  &:hover, 
  &:focus {
    background-color: darken($orange, 10%);
  }
}