<div class="modal-header">
  <button type="button" class="modal-close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
  <h4>Modal title</h4>
</div>
<div class="modal-body">
  <h4>Text in a modal</h4>
  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="close">Close</button>
  <button type="button" class="btn btn-primary">Save changes</button>
</div>