/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

// Generic heading styling

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  margin: 0;
  padding: 0;
  color: $color-headings;
  font-weight: bold;
}

// Custom heading styling
// Markup should be semantically correct
// Use an appropriate class to visually style an h3 as an h2 - eg <h3 class="h2">

h1,
.h1 {
  @include font-size(2.6);
  margin-bottom: 10px;
}

h2,
.h2 {
  @include font-size(2.4);
  margin-bottom: 10px;
}

h3,
.h3 {
  @include font-size(2.2);
  margin-bottom: 10px;
}

h4,
.h4 {
  @include font-size(2);
  margin-bottom: 10px;
}

h5,
.h5 {
  @include font-size(1.8);
  margin-bottom: 10px;
}

// Link styles

a {
  color: $color-link-active;
  text-decoration: none;
  cursor: pointer;

  &:hover, 
  &:focus {
    text-decoration: underline;
  }
}

a:visited {
  color: $color-link-visited;
}

a:hover {
  color: $color-link-hover;
}

a:focus {
  color: $color-link-hover;
  outline: thin dotted;
}

// Standard text paragraphs

p {
  margin: 0 0 10px 0;
  padding: 0;
}

// List styles

ol {
  margin: 0 13px 8px 15px;
  padding: 0;
  list-style-position: inside;
}

ul {
  margin: 0 12px 8px 15px;
  padding: 0;
  list-style-position: inside;
}

ol ol,
ol ul,
ul ul,
ul ol {
  margin-bottom: 2px;
}

li {
  margin-bottom: 2px;
}

.list-unstyled {
  list-style: none;
  list-style-image: none;
}

.list-inline-unstyled {
  margin: 0 0 15px 0;
  list-style: none;
  list-style-image: none;
  overflow: hidden;

  li {
    float: left;
    margin: 0 10px 0 0;
  }
}


// Definition list styles

dl {
}

dt {
  font-weight: bold;
  margin-left: 15px;
}

/*dl*/
.dl-horizontal {
  dt {
    @include breakpoint(sm) {
      width: auto;
      margin: 0 20px 0 0;
      float: left;
      overflow: hidden;
      clear: left;
      text-align: left;
    }
  }

  dd {
    @include breakpoint(sm) {
      width: auto;
    }
  }
}

// Opinionated styling of typographic elements

hr {
  height: 1px;
  margin: 1em 0;
  padding: 0;
  display: block;
  border: 0;
  border-top: 1px solid $grey-light;
}

blockquote {
  margin: 0;
  padding: 0 10px;
  border-left: 5px solid $grey-light;
}

ins {
  background: $yellow;
  color: $black;
  text-decoration: none;
}

mark {
  font-style: italic;
  font-weight: bold;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}